body {
  background-color: grey;
}

#elementos {
  display: flex;
  font-size: 20px;
}

.menu {
  background-color: white;
  border-style: solid;
  margin: 0.2vh;
  padding-top: 0.5vh;
  padding-bottom: 0.3vh;
}

.div_verde {
  background-color: green;
}

.titulo {
  text-align: center;
  border-style: solid;
  border-color: rgb(167, 167, 167);
  color: white;
  margin: 1vw;
}

.subtitulos {
  display: flex;
  color: yellow;
  max-width: 90vw;
  text-align: end;
  padding-right: 20px;
  padding-left: 5px;
}

.sub {
  border-style: dotted;
  margin-right: 1vh;
}

.subtitulo1 {
  border-style: dotted;
}

.especie {
  background-color: white;
  color: black;
  text-align: left;
  padding: 2vw;
  margin: 2vw;
  margin-left: 0.2vw;
}

.milano {
  display: flex;
}

.milano_img {
  width: 45vw;
  border-color: yellow;
  border-style: solid;
  margin: 0.5vw;
}

.window {
  /*display: flex;*/
  float: unset;
  padding: 1vw;
  
}

.azul {
  background-color: aqua;
  margin: 1vw;
  /*padding: 30px;
  margin-bottom: 1px;
  margin-top: 8px;*/
}


.blanco {
  background-color: white;
  /*padding: 30px;
  margin-bottom: 1px;
  margin-top: 8px;*/
}

.nature {
  color: red;
}
