body {
    background-image: url(./wallpapersden.com_avatar-movie-2021-art_4096x2362.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}