body {
    height: 90vh;
    display: flex;
    align-items: center;
    background-image: url(/ejercicios_LLMM/Aritz_Rodríguez/img/home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #elementos {
    display: flex;
    font-size: 20px;
    background-color: blueviolet;
    padding: 1.5vw;
    margin-bottom: 80vh;
}
  
.menu {
    background-color: white;
    border-style: solid;
    margin-right: 0.5vw;
    padding-top: 0.5vh;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    padding-bottom: 0.3vh;
}

#error {
    color: red;
}